<% content_for :javascript_includes do %>
  <%= javascript_include_tag "shake.js", async: true %>
<% end %>

<%= form_tag(@form_url, method: :get, id: "shakeForm") do %>
  <%= select_tag("answer_type", options_for_select(@form.answer_types, @answer_type)) %>
  <%= submit_tag "Shake", class: "btn btn-primary" %>
<% end %>

<div class="answer-triangle">

<div class="shake shake-slow dampshake damp-shake-harlem">

<%= link_to @answers_list.sample, ball_shake_path, class: "ball-answer", onClick: "$('#shakeForm').submit()" %>

</div>

</div>



<%= javascript_include_tag "custom_shake_handler.js", async: true %>
